$font-xxxs: .6rem;
/* bulma is-size-7 */
$font-xxs: .75rem; 
 /* bulma is-size-6 */
$font-xs: 1rem;
 /* bulma is-size-5 */
$font-sm: 1.25rem;
 /* bulma is-size-4 */
$font-md: 1.5rem;
$font-mdm: 1.6rem;
$font-mdd: 1.8rem;
/* bulma is-size-3 */
$font-lg: 2rem; 
$font-lgg: 2.4rem;
/* bulma is-size-2 */
$font-xl: 2.5rem; 
/* bulma is-size-1 */
$font-xxl: 3rem; 

$font-fluid-xs: clamp(.8rem, .8rem + 1vw, 1.32rem);
$font-fluid-sm: clamp(1rem, 1rem + 1vw, 1.6rem);
$font-fluid-smm: clamp(1.1rem, 1.1rem + 1.1vw, 1.8rem);
$font-fluid-md: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
$font-fluid-mdd: clamp(1rem, 1rem + 1.4vw, 2rem);
$font-fluid-lg: clamp(1.8rem, 1.8rem + 1.8vw, 2.8rem);
$font-fluid-xl: clamp(2rem, 2rem + 2vw, 3.2rem);
$font-fluid-xxl: clamp(2.8rem, 2.8rem + 2.8vw, 5.4rem);

