#root{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
  background: rgb(50, 50, 50);
}

.App{
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(2rem, 1rem + 8vw, 4rem);
    border-radius: .4em;
    outline: 4px dashed var(--color-one);
    transition: transform 1000ms;
    max-width: 800px;
    margin: auto;
    min-width: 300px;
    width: 40%;
}


.hello{
  background-color: rgb(30, 30, 30);
  color: rgb(240, 240, 240);
  padding: 2rem;
  border-radius: .4em .4em 0 0;
  text-align: left;
  width: 100%;
}

.react{
    background-color: rgb(240, 240, 240);
    color: rgb(30, 30, 30);
    padding: 2rem;
    border-radius: 0 0 .4em .4em;
    text-align: right;
    width: 100%;
}