.CartWidget{
    min-width: 120px;
    max-width: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: .2em;
    color: var(--color-mobilenavtext);
    transition: color 200ms, background-color 200ms, filter 200ms;
    border-radius: .2em;
    padding: 8px 12px;
    filter: grayscale(0);

    span{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    &:hover, &:focus{
        outline: 1px dashed var(--color-three);
        color: var(--color-one);
    }
}

@media (min-width: 1024px){
    .CartWidget{
        justify-content: center;
        color: var(--color-three);

        &:hover, &:focus{
            outline: 1px dashed var(--color-three);
            color: var(--color-three);
            background: var(--color-one-hover);
        }
    }
}