@import './variables.scss';

.CartWidget {
    width: 100%;
    display: block;
    gap: .2em;
    color: var(--color-mobilenavtext);
    padding: .4em;
    filter: grayscale(0);
    transition: filter 200ms, color 200ms;
    text-align: left;

    &.disabled {
        color: var(--color-three-dark);
        pointer-events: none;
        filter: grayscale(1);
    }

    span {
        display: block;
        width: 100%;
    }

    &:hover,
    &:focus {
        outline: none;
        color: var(--color-one);
        background-color: var(--color-three-accent);
    }
}

@media (min-width: 1024px) {
    .CartWidget {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: var(--color-three);
        min-width: 120px;
        max-width: 120px;
        text-align: center;
        border-radius: .2em;

        &:hover,
        &:focus {
            outline: 1px dashed var(--color-three);
            color: var(--color-three);
            background: var(--color-one-hover);
        }

        span {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
    }
}