.tabs{
    max-width: fit-content;
    margin-top: 108px;
    margin-left: auto;
    margin-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1;

    li{
        a{
            color: var(--color-three-dark);
            border-bottom: 2px solid var(--color-three-dark);

            &:hover{
                color: var(--color-one);
                border-bottom: 2px solid var(--color-three);
            }
            &:focus-visible{
                color: var(--color-one);
                border-bottom: 2px solid var(--color-three);
                outline: 1px dashed var(--color-three);
                outline-offset: -2px;
            }
        }
    }

    li.is-active{
        a{
            color: var(--color-one);
            border-bottom: 2px solid var(--color-three);
        }
    }
}

@media (max-width: 1023px){
    .tabs{
        margin: auto;
        margin-top: 76px;
    }
}