.tabs{
    margin-top: 108px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: 5%;

    li{

        a{
            color: white;
            border-bottom: 2px solid var(--color-three-dark);

            &:hover{
                color: var(--color-one);
                border-bottom: 2px solid var(--color-three);
            }
        }

    }

    li.is-active{
        a{
            color: var(--color-one);
            border-bottom: 2px solid var(--color-three);
        }
    }
}

@media (max-width: 1023px){
    .tabs{
        margin: auto;
        margin-top: 76px;
    }
}