@import './variables.scss';

.CheckoutWrapper {
    min-height: calc(100vh - 76px - 60px - .2rem);
    /* container height= 100vh-navHeight-tabsHeight-margins */
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    >span {
        transform: (translateY(-50%));
    }
}

.Checkout {
    align-self: start;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    font-size: $font-fluid-md;
    color: var(--color-one);
    text-shadow: 2px 2px 0 var(--color-three);
    margin-bottom: 8rem;

    h1 {
        font-size: $font-fluid-xl;
        border-bottom: 2px dashed var(--color-one);
        width: 100%;
        font-weight: bold;
        margin-top: .8rem;
    }

    &__back {
        position: absolute;
        left: min(2%, 1rem);
        top: min(-20px, -2%);
        color: var(--color-one-dark);
        text-shadow: 1px 1px 0 var(--color-three);
        font-size: $font-fluid-lg;
        font-weight: bold;

        &:hover {
            color: var(--color-one);
        }
    }

    &__details {
        text-shadow: 1px 1px 0 var(--color-back-dark);
        font-family: var(--font-primary);
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
        margin-top: 1rem;

        h3 {
            font-family: var(--font-primary);
            font-weight: bold;
            font-size: $font-fluid-lg;
            border-bottom: 2px dashed var(--color-one);
            width: 100%;
            padding: .44em;
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-three);
            line-height: 1;
            margin-bottom: .4rem;
        }

        &__list{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: stretch;
            background-color: var(--color-back-dark);
            width: 100%;
            font-family: 'Courier New', Courier, monospace;

            &__ul{
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
            }

            &__total{
                border-top: 2px dashed var(--color-back-dark);
                padding: .4em;
                font-family: var(--font-primary);
                font-weight: bold;
                color: var(--color-back-dark);
                text-shadow: 1px 1px 0 var(--color-four);
                background: var(--color-one-dark);
                letter-spacing: .04em;
                text-align: center;
                margin-top: auto;
                font-size: 1em;
                overflow: hidden;
            }

            li {
                padding: .2em;
                display: flex;
                flex-flow: row wrap;
                gap: clamp(.1rem, .1rem + 1vw, 2rem);
                justify-content: space-evenly;
                border-bottom: 1px dashed var(--color-three-dark);
                width: 100%;
                font-size: $font-xxxs;
                position: relative;
                overflow: hidden;

                &:nth-last-child(1) {
                    border-bottom: none;
                }
            }

            &__li {
                &__title {
                    width: 100% !important;
                    font-size: .8em;
                    justify-content: start !important;
                    max-width: none !important;
                    padding: 0 !important;
                    text-align: left !important;
                }

                &__stock {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, 50%);
                    font-size: .8em;
                    max-width: none !important;
                }

                &__input {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }

                span {
                    padding: .4em;
                    color: var(--color-three-accent);
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    text-align: center;
                    width: 12ch;

                    &:first-child {
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        align-items: start;
                    }
                }

                input {
                    text-align: center;
                    width: 80%;
                    background: none;
                    border: none;
                    outline: none;
                    transition: outline 200ms;
                    color: var(--color-three-accent);
                    -moz-appearance: textfield;
                    outline: 1px dashed var(--color-three-dark);
                    border-radius: .2em;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &:hover,
                    &:focus {
                        outline: 1px dashed var(--color-one);

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: auto;
                            margin: 0;
                            opacity: .2;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }

                img {
                    width: 100%;
                    max-width: 10ch;
                    margin: auto;
                    aspect-ratio: 1;
                    border-radius: .4em;
                    filter: drop-shadow(1px 1px 0 var(--color-one-dark));
                    transition: 200ms;
                    will-change: filter;

                    &:hover {
                        filter: drop-shadow(1px 1px 0 var(--color-one))
                    }
                }
            }

            &__header {
                font-weight: bold;
                text-shadow: 1px 1px 0 var(--color-one-dark);

                span {
                    padding: .4em;
                    color: var(--color-three);
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    text-align: left;
                }
            }

            &__remove {
                color: var(--color-three-dark);
                filter: drop-shadow(1px 1px 0 var(--color-three-accent));
                position: absolute;
                right: 2%;
                top: 0;
                font-size: $font-fluid-sm;
                padding: .1em;

                &:hover,
                &:focus-visible {
                    color: var(--color-one);
                    filter: drop-shadow(1px 1px 0 var(--color-three));
                }
            }

            &__removeConfirm{
                position: absolute;
                right: 1%;
                top: 2%;
                display: flex;
                flex-flow: column wrap;
                justify-content: start;
                align-items: center;
                font-weight: bold;
                border-radius: .1em;
                background: var(--color-one-dark);
                color: var(--color-back-dark);
                text-shadow: 1px 1px 0 var(--color-three-accent);
                padding: .1em;
                outline: 1px dashed var(--color-three-accent);

                &__buttons{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 1.4em;
                    
                    button{
                        color: var(--color-three-accent);
                        text-shadow: 2px 2px 0 var(--color-back-dark);
                        line-height: 1;
                        padding: .2em;
                        border-radius: .1em;

                        &:hover, &:focus-visible{
                            background: var(--color-one);
                            color: var(--color-three);
                        }
                    }
                }
            }
        }

        &__resumen {
            background-color: var(--color-back-dark);
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: start;
            align-items: center;
            overflow: hidden;
            font-size: $font-fluid-sm;

            &__cleartextContainer{
                width: 100%;
                height: 120px;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            &__clear{
                position: absolute;
                inset: 0;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                font-size: $font-fluid-md;

                p{
                    color: var(--color-one);
                    text-shadow: 1px 1px var(--color-three);
                }

                &__buttons{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    width: 100%;

                    button{
                        color: var(--color-three-accent);
                        text-shadow: 1px 1px var(--color-one);
                        padding: .1em;
                        border-radius: .1em;
                        width: 100%;
                        flex: 1;
                        
                        &:hover, &:focus-visible{
                            color: var(--color-three);
                            text-shadow: 1px 1px var(--color-back-dark);
                            background: var(--color-one-dark);
                        }
                    }
                }
            }

            &__info {
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                justify-content: start;
                align-items: center;
                padding: .4rem;
                padding-top: 0;
            }

            &__text {
                position: absolute;
                inset: 0;
                font-family: 'Courier New', Courier, monospace;
                font-size: $font-fluid-md;
                color: var(--color-three);
                text-align: left;
                font-weight: bold;
                align-self: start;
                display: flex;
                flex-flow: row wrap;
                justify-content: start;
                align-items: center;
            }

            &__buttons {
                font-family: 'Courier New', Courier, monospace;
                font-size: $font-fluid-sm;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                padding: .2em;
                width: 100%;
                margin-top: 1rem;
                overflow: hidden;
                gap: 1rem;

                button,
                a {
                    display: flex;
                    flex: row wrap;
                    justify-content: end;
                    align-items: center;
                    text-align: center;
                    color: var(--color-one-dark);
                    padding: .28em;
                    border-radius: .2em;
                    line-height: 1.2;
                    width: 100%;
                    background: transparent;
                    will-change: transform, background-color;
                    transition: filter 400ms, color 400ms;
                    filter: grayscale(0);

                    i {
                        font-size: $font-fluid-md;
                        font-weight: bold;
                    }

                    &:hover,
                    &:focus-visible {
                        color: var(--color-one);
                        outline: 1px dashed var(--color-one);
                        background: var(--color-back);
                    }

                    &:active {
                        transform: translate(2px, 2px);
                    }

                    &:last-of-type {
                        color: var(--color-three-accent);

                        &:hover,
                        &:focus-visible {
                            color: var(--color-three);
                            outline: 1px dashed var(--color-three);
                            background: var(--color-back);
                        }
                    }

                    &.disabled {
                        color: var(--color-three-dark);
                        pointer-events: none;
                        filter: grayscale(1);
                    }
                }
            }

            &__confirm{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;


                &__form {
                    padding: .4rem;
                    width: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                   
                    &__back{
                        font-family: 'Courier New', Courier, monospace;
                        font-weight: bold;
                        align-self: start;
                        color: var(--color-one-dark);
                        font-size: $font-fluid-md;
                        line-height: 1;
                        
                        &:hover{
                            color: var(--color-one);
                        }
                    }
                }
            }
        }
    }

    &__success{
        margin: auto;
        margin-top: 1rem;
        width: 100%;
        background: var(--color-back-dark);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: .8rem;

        h3{
            font-family: var(--font-primary);
            font-weight: bold;
            font-size: $font-fluid-lg;
            border-bottom: 2px dashed var(--color-one);
            width: 100%;
            padding: .44em;
            color: var(--color-three);
            text-shadow: 2px 2px 0 var(--color-one);
            line-height: 1.4;
            margin-bottom: .4rem;
        }

        p{
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: $font-fluid-md;
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-two);
            line-height: 1.4;
        }

        &__continue{
            align-self: end;
            padding: .4em;
            font-size: $font-fluid-mdd;
            color: var(--color-three);
            text-shadow: 1px 1px 0 var(--color-one);
            transition: color 200ms, text-shadow 200ms;

            &:hover{
                color: var(--color-one);
                text-shadow: 1px 1px 0 var(--color-three);
            }
        }

        &__code{
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: $font-fluid-md;
            color: var(--color-one);
            padding: .2em .4em;
            border-radius: .4em;
            background: var(--color-back);
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: .4rem;
            margin-right: .4rem;
            word-break: break-word;

            i{
                color: var(--color-three);
                text-shadow: 1px 1px 0 var(--color-one);
            }

            &:hover, &:focus-visible{
                outline: 1px dashed var(--color-three-dark);
            }

            &:active{
                outline: 2px dashed var(--color-one);
            }
            
            &:active i{
                color: var(--color-one);
                text-shadow: 1px 1px 0 var(--color-three);
            }
        }

        &__details{
            width: calc(100% - 4px);
            text-align: left;
            padding: .6rem 1.2rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: $font-fluid-md;
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-two);
            margin-left: 2px;
            margin-right: 2px;

            &:hover, &[open]{
                outline: 2px dashed var(--color-one);
            }
    
            summary{
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: .1em;
                padding: .1em;

                &:focus-visible{
                    background: var(--color-back)
                }
            }

            p{
                font-size: $font-fluid-sm;
                color: var(--color-two);
                text-shadow: none;
                color: var(--color-three);
                font-weight: normal;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                padding: .2em 0;
                border-bottom: 1px dashed var(--color-two);

                span{
                    flex: 1;

                    &:not(:first-of-type){
                        text-align: right;
                    }
                }

                &.Checkout__success__details__total{
                    justify-content: center;
                    border: none;
                }
            }

            &--buyer{
                p{
                    border: none;
                }
            }

            &__items{
                &__artist{
                    color: var(--color-three-dark);
                    font-size: .8em;
                }
            }
        }
    }
}



@media (min-width: 320px) {
    .Checkout {
        &__details {
            &__list {
                li {
                    font-size: .5em;
                }

                &__remove {
                    right: 1%;
                }
            }

            &__resumen {
                &__info {
                    padding: 1rem;
                    padding-top: 0;
                }
            }
        }
    }
}

@media (min-width: 400px) {
    .Checkout {
        &__details {
            &__list {
                li {
                    font-size: .6em;
                }

                &__remove {
                    font-size: $font-fluid-md;
                }
            }
        }
    }
}

@media (min-width: 500px) {
    .Checkout {
        &__details {
            &__list {
                li {
                    font-size: .6em;
                    gap: clamp(.2rem, .2rem + 2vw, 4rem);
                }
            }

        }
    }
}

@media (min-width: 620px) {
    .Checkout {
        &__details {
            &__list {
                li {
                    font-size: .68em;
                }
            }
        }
    }
}

@media (min-width: 1216px) {
    .Checkout {
        width: 96%;

        &__details {
            display: flex;
            flex-flow: row wrap;

            h3 {
                margin-bottom: 1rem;
            }

            &__list {
                width: 68%;
                border-radius: .4em .4em .8em .8em;

                &__total {
                    border-radius: 0 0 .4em .4em;
                }

                &__remove {
                    padding: .2em;
                }
            }

            &__resumen {
                width: 29.2%;
                border-radius: .4em;
            }
        }

        &__success{
            width: 90%;
            max-width: 1200px;border-radius: .4em;
        }
    }
}