@import './variables.scss';

.CheckoutForm {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h4{
        font-size: $font-fluid-md;
        font-weight: bold;
        text-shadow: 1px 1px 0 var(--color-three)
    }

    &__fields{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }
    
    fieldset{
        max-width: 94%;
        font-family: 'Courier New', Courier, monospace;
        color: var(--color-one);
        text-shadow: 1px 1px 0 var(--color-back);
        font-weight: bold;
        border: 1px dashed var(--color-three-dark);
        border-radius: .2em;
        transition: border 400ms;
        text-align: left;
        line-height: 1.2;
        font-size: $font-fluid-xs;
        transition: color 400ms, border-color 400ms;

        &:focus, &:focus-within, &:valid{
            border: 1px dashed var(--color-one);
            color: var(--color-one);
        }

        legend{
            margin: 0 0 0 .4em;
            padding: 0 .1em;
        }
    }

    input {
        width: 100%;
        background: none;
        background-image: linear-gradient(var(--color-one), var(--color-one));
        background-repeat: no-repeat;
        background-size: 0% 2px;
        background-position: bottom left;
        outline: none;
        border: none;
        font-size: $font-fluid-sm;
        transition: background-size 400ms;
        color: var(--color-three);
        padding: .1em .2em;
        font-weight: normal;

        &:focus{
            background-size: 100% 2px;
        }
    }

    &__total{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: $font-fluid-mdd;
        color: var(--color-one);
        text-shadow: 1px 1px 0 var(--color-back-dark);
        background: var(--color-back);
        padding: .4rem;
        border-radius: .2em;
    }

    &__send{
        color: var(--color-four);
        text-shadow: 1px 1px 0 var(--color-back-dark);
        font-size: $font-fluid-mdd;
        font-weight: bold;
        border-radius: .2em;
        padding: .2em .4em;
        outline: 2px dashed var(--color-one);
        margin: .4rem auto .4rem auto;
        transition: color 200ms, text-shadow 200ms, background-color 200ms, outline-color 200ms;
        background: var(--color-back);
        will-change: transform, background-color;
        word-spacing: .02em;
        letter-spacing: .01em;

        &:hover, &:focus-visible{
            color: var(--color-back-dark);
            text-shadow: 1px 1px 0 var(--color-three);
            background-color: var(--color-one);
            outline: 2px dashed var(--color-three);
        }

        &:active{
            transform: translate(2px, 2px)
        }

        span{
            animation: spanLoad 800ms alternate infinite;
            letter-spacing: .02em;

            &:nth-child(2){
                animation-delay: 200ms;
            }
            &:nth-child(3){
                animation-delay: 400ms;
            }
        }
    }
}

@media (min-width: 1216px){
    .CheckoutForm{
        &__send{
            color: var(--color-four);
            text-shadow: 2px 2px 0 var(--color-back-dark);
            outline: 4px dashed var(--color-one);

            &:hover, &:focus-visible{
                color: var(--color-back-dark);
                text-shadow: 2px 2px 0 var(--color-three);
                background-color: var(--color-one);
                outline: 4px dashed var(--color-three);
            }
        }
    }
}