@import './variables.scss';

.Error404Wrapper {
    min-height: calc(100vh - 76px - 60px - .2rem);
    /* container height= 100vh-navHeight-tabsHeight-margins */
    display: flex;
    justify-content: center;
    align-items: start;
    width: 90%;
    margin: auto
}

.Error404 {
    width: 100%;
    margin: auto;
    margin-top: 1.4vh;
    font-size: $font-fluid-xl;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    will-change: transform;

    h2 {
        font-size: $font-fluid-xl;
        font-weight: 800;
        color: var(--color-one);
        text-shadow: 2px 2px 0 var(--color-three);
        text-align: center;
    }

    p {
        color: var(--color-three);
        text-shadow: 2px 2px 0 var(--color-three-dark);
        font-size: $font-fluid-md;
        max-width: 1200px;
        margin: auto;
    }

    a {
        margin-top: 1.2rem;
        color: var(--color-one-dark);
        text-shadow: 2px 2px 0 var(--color-three);
        display: block;
        font-weight: bold;
        text-align: center;
        font-size: $font-fluid-lg;
        background-image: linear-gradient(var(--color-one), var(--color-one));
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: bottom left;
        transition: color 400ms, background-size 400ms;

        &:hover,
        &:focus-visible {
            color: var(--color-one);
            background-size: 100% 3px;
        }
    }
}

@media (min-width:1024px) {
    .Error404Wrapper {
        min-height: calc(100vh - 108px - 60px - .4rem - 1rem);
        /* container height= 100vh-navHeight-tabsHeight-margins */
    }
}