.Error404Wrapper{
    min-height: calc(100vh - 76px - 60px - .2rem); /* container height= 100vh-navHeight-tabsHeight-margins */
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.Error404{
    width: 90%;
    margin: auto;
    margin-top: 1.4vh;
    font-size: clamp(2.4rem, 2rem + 2vw, 3.4rem);

    h2{
        font-size: 1.08em;
        font-weight: 800;
        color: var(--color-one);
        text-shadow: 2px 2px 0 var(--color-three);
        text-align: center;
    }

    p{
        color: var(--color-three);
        text-shadow: 2px 2px 0 var(--color-three-dark);
        font-size: .72em;
    }

    a{
        margin-top: 1.2rem;
        color: var(--color-one-dark);
        text-shadow: 2px 2px 0 var(--color-three);
        display: block;
        text-align: center;
        font-size: .82em;

        &:hover, &:focus-visible{
            color: var(--color-one);
        }
    }
}

@media (min-width:1024px){
    .Error404Wrapper{
        min-height: calc(100vh - 108px - 60px - .4rem - 1rem); /* container height= 100vh-navHeight-tabsHeight-margins */
    }
}