@import './variables.scss';

.footer {
    padding: 1em;
    padding-bottom: 0;
    border-top: 2px dashed var(--color-one-dark);
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: .2em;
    font-size: $font-fluid-md;
    background: linear-gradient(135deg, var(--color-back-dark) 80%, var(--color-one-dark) 80%);
    margin-top: min(6rem, 6vw) ;
    line-height: 1.2;
    z-index: 1;

    &__brand {
        color: var(--color-one);
        font-weight: 800;
        text-shadow: 1px 1px 0 var(--color-three);
        font-size: $font-fluid-lg;
        padding: .8rem;
        border-radius: .1em;
        font-weight: bold;
        transition: transform 200ms;
        will-change: transform;

        &:focus-visible {
            outline: 1px dashed var(--color-one);
        }
        
        &:active{
            transform: translate(2px, 2px)
        }
    }

    a {
        color: var(--color-three);
        padding: .8rem;
        border-radius: .1em;
        font-size: $font-fluid-sm;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-shadow: 1px 1px 0 var(--color-three-dark);

        &:hover,
        &:focus-visible {
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-three);
        }
        
    }

    &__santi {
        align-self: end;
        color: var(--color-three);
        text-shadow: 1px 1px 0 var(--color-one-dark);
        line-height: 1;
        font-size: $font-fluid-sm;
        font-weight: bold;
    }
}