@import './variables.scss';

.footer{
    padding: 1em;
    padding-bottom: 0;
    border-top: 2px dashed var(--color-one-dark);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    gap: .2em;
    font-size: $font-fluid-md;
    background: linear-gradient(135deg, var(--color-back-dark) 80%, var(--color-one-dark) 80%);
    margin-top: auto;
    line-height: 1.2;

    &__brand{
        color: var(--color-one);
        font-weight: 800;
        text-shadow: 2px 2px 0 var(--color-three);
        font-size: $font-fluid-lg;
    }

    a{
        color: var(--color-three);
        padding: .8rem;
        text-shadow: 1px 1px 0 var(--color-one);
        border-radius: .2em;
        font-size: $font-fluid-sm;
        transition: 200ms;

        &:hover, &:focus{
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-three);
        }

        &:focus-visible{
            outline: 2px dashed var(--color-one);
        }
    }

    &__santi{
        align-self: end;
        color: var(--color-three);
        text-shadow: 1px 1px 0 var(--color-one-dark);
        line-height: 1;
        font-size: $font-fluid-sm;
        font-weight: bold;

        &:hover, &:focus{
            color: var(--color-one-dark);
            text-shadow: 1px 1px 0 var(--color-three);
        }

        &:focus-visible{
            outline: 2px dashed var(--color-one-dark);
        }
    }
}
