.ItemLink {
    border-radius: 1.6rem;
    transition: box-shadow 100ms;
    width: 100%;
    max-width: 320px;
    box-shadow: 0 0 0 0 var(--color-one);
    margin: auto;

    &:active {
        box-shadow: 3px 3px 3px 0 var(--color-one);
    }

    &:hover .Item,
    &:focus-visible .Item {
        box-shadow: 2px 2px 0 0 var(--color-one);
    }

    &:hover .Item>.Item__details,
    &:focus-visible .Item>.Item__details {
        color: var(--color-one);
    }

    &:hover .Item>.Item__imgWrapper,
    &:focus-visible .Item>.Item__imgWrapper {
        background: linear-gradient(45deg, var(--color-one), var(--color-one));
    }
}

.Item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    font-size: $font-lg;
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 2px 2px 0 0 var(--color-three-dark);
    transition: box-shadow 400ms;
    width: 100%;
    margin: auto;

    &__imgWrapper {
        width: 100%;
        transition: background-image 400ms;
        background: linear-gradient(45deg, var(--color-one), var(--color-one-dark));
        background-color: var(--color-one);  
        background-size: cover;
        font-family: 'Courier New', Courier, monospace;
    }

    &__img {
        aspect-ratio: 1;
        width: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    &__content {
        background: none;
        font-size: $font-xs;
        position: absolute;
        top: 2%;
        left: 0;
        display: flex;
        flex-flow: column wrap;
        color: var(--color-back-dark);
        font-family: 'Courier New', Courier, monospace;
        width: 100%;

        &__title {
            color: var(--color-three);
            text-shadow: 1px 1px var(--color-one-dark);
            margin-top: 6.8rem;
            background: rgba(0, 0, 0, .4);
            width: 100%;
            padding-left: 2%;
            font-size: $font-xs;
            line-height: 1.2;
            max-height: 100px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__price {
            font-size: $font-mdd;
            font-weight: bold;
            color: var(--color-three);
            text-shadow: 1px 1px var(--color-one-dark), 2px 2px var(--color-back-dark);
            width: fit-content;
            margin-left: 2%;
        }
    }

    &__details {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
        background: var(--color-back-dark);
        padding: .38em;
        font-size: $font-lg;
        color: var(--color-three-dark);
        transition: color 400ms;
    }
}
