@import './variables.scss';

.ItemDetailWrapper {
    min-height: calc(100vh - 76px - 60px - .2rem);
    /* container height= 100vh-navHeight-tabsHeight-margins */
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    >span {
        transform: (translateY(-50%));
    }
}

.ItemDetail {
    font-size: $font-fluid-lg;
    color: var(--color-three);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-self: start;
    line-height: 1.8;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    gap: 2.4rem;
    padding-bottom: 2.8rem;
    margin-bottom: 2.8rem;
    margin-top: .8rem;

    &__body {
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: stretch;
        gap: 2.8rem;
        width: 100%;
        margin-top: 1.2rem;
    }

    &__detailsWrapper {
        background: var(--color-back-dark);
        padding: 1rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;
        gap: 1.2rem;
        outline: 1px dashed var(--color-three-dark);
        width: 100%;
        font-size: $font-fluid-sm;

        img {
            border-radius: .4em;
            width: 100%;
            max-width: 500px;
            aspect-ratio: 1;
            object-fit: cover;
            outline: 4px dashed var(--color-one);
        }

        details{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            summary{
                cursor: pointer;
                outline: none;
                border: none;
                border-radius: .1em;

                &:focus-visible{
                    outline: 1px dashed var(--color-one);
                }
            }

            p{
            font-size: $font-fluid-xss;
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-two);
            font-weight: bold;
            will-change: transform;
            }

            iframe{
                margin: auto;
                margin-top: .4em;
                border-radius: .4em;
                width: calc(100% - 2ch);
                outline: 2px dashed var(--color-one);
            }
        }
    }

    &__imgSelector{
        width: 100%;
        max-width: 600px;
        height: 60px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: clamp(.4rem, .4rem + .4vw, 1.8rem);
        margin-bottom: 1.2rem;

        button {
            margin: auto;
            width: 22%;
            min-width: 60px;
            max-width: 80px;
            aspect-ratio: 1;
            border-radius: .2em;

            img{
                width: 100%;;
                outline: none;
                border-radius: .2em;
                outline: 1px dashed var(--color-three-dark);
            }
        }   
    }

    &__pWrapper {
        width: 100%;
        > p{
            font-weight: bold;
            color: var(--color-one);
            text-shadow: 1px 1px 0 var(--color-three);
        }
    }

    &__infoWrapper {
        font-size: $font-fluid-lg;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;
        background: var(--color-back-dark);
        outline: 1px dashed var(--color-three-dark);
        overflow: hidden;
    }

    &__info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: center;

        &__main {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            padding-bottom: 0;
        }
    }


    &__title {
        width: 100%;
        color: var(--color-one);
        text-shadow: 2px 2px 0 var(--color-three);
        line-height: 1.4;
        font-size: $font-fluid-lg;
        margin-bottom: 2rem;
        text-align: left;
        align-self: center;
        font-weight: bold;
        font-family: var(--font-primary);
        padding-bottom: .4rem;
        border-bottom: 2px dashed var(--color-one);

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    &__subtitle {
        line-height: 1;
        align-self: start;
        font-family: var(--font-primary);
        font-size: $font-fluid-md;
        text-shadow: 1px 1px 0 var(--color-one);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__back {
        font-size: $font-fluid-lg;
        font-family: var(--font-primary);
        text-shadow: 1px 1px 0 var(--color-three);
        font-weight: bold;
        color: var(--color-one-dark);
        width: fit-content;
        position: absolute;
        left: min(2%, 1rem);
        top: -3.2%;

        &:hover {
            color: var(--color-one);
        }
    }

    &__controlsWrapper {
        width: 100%;
        max-width: 600px;
        height: 368px;
        margin: auto;
        margin-top: 0;
        position: relative;
    }

    &__counterWrapper {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 368px;
        align-self: stretch;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        gap: 1rem;
        padding: 1rem;
        padding-top: 0;
        will-change: transform;

        &__counter {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        &__price {
            font-family: var(--font-primary);
            font-weight: bold;
            font-size: $font-fluid-xl;
            margin-bottom: 1rem;
            text-shadow: 2px 2px var(--color-one-dark);
            line-height: 1.2;
        }
    }

    &__checkout {
        position: absolute;
        inset: 0;
        width: 100%;
        padding: 1rem;
        padding-top: 0;
        height: 368px;
        align-self: stretch;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        align-items: stretch;
        gap: .4rem;
        font-size: $font-fluid-lg;
        will-change: transform;

        h3 {
            color: var(--color-three);
            text-shadow: 2px 2px 0 var(--color-one), 4px 4px var(--color-one-dark);
            line-height: 1.4;
            text-align: center;
            font-weight: bold;
            font-family: var(--font-primary);
            font-size: $font-fluid-lg;
            margin-top: .4rem;
            padding: .12em .06em;
            background: linear-gradient(45deg, var(--color-one-dark), var(--color-one), var(--color-one-dark));
            border-radius: .2em; 
            outline: 4px dashed var(--color-one);      
        }

        &__buttons {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: .4rem;
            font-size: $font-fluid-sm;
            max-width: 100%;
        }

        .CartWidget {
            width: 100%;
            max-width: 580px;
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .2em;
            border-radius: .2em;
            color: var(--color-one);
            font-size: $font-fluid-md;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            text-shadow: 1px 1px 0 var(--color-back-dark), 1.4px 1.4px 0 var(--color-one);
            justify-content: center;
            background: var(--color-back);
            text-align: center;
            border-radius: .4rem;
            outline: 2px dashed var(--color-three-dark);
            will-change: transform;

            span {
                display: block;
            }

            &:hover,
            &:focus-visible {
                outline: 2px dashed var(--color-three);
                color: var(--color-one);
            }

            &:active {
                transform: translate(2px, 2px);
            }

            i {
                font-size: $font-fluid-md !important;
                /* important to replace bulma style */
            }
        }

        &__continue {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 580px;
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 0;
            padding: .2em;
            text-align: center;
            border-radius: .4rem;
            color: var(--color-one);
            font-size: $font-fluid-md;
            font-weight: bold;
            outline: 2px dashed var(--color-three-dark);
            font-family: 'Courier New', Courier, monospace;
            text-shadow: 1px 1px 0 var(--color-back-dark), 1.4px 1.4px 0 var(--color-one);
            background: var(--color-back);
            will-change: transform;


            &:hover,
            &:focus-visible {
                outline: 2px dashed var(--color-three);
                color: var(--color-one);
            }

            &:active {
                transform: translate(2px, 2px);
            }
        }
    }
}

@media (max-width: 320px) {
    .ItemDetail {
        &__info {
            width: 100%;
        }

        &__checkout {
            width: 100%;

            &__buttons {
                width: 100%;
            }
        }
    }
}

@media (min-width: 500px) {
    .ItemDetail {
        &__detailsWrapper {
            padding: 1.4rem;
        }

        &__info {
            &__main {
                padding: 1.4rem;
                padding-bottom: 0;
            }
        }

        &__counterWrapper {
            padding: 1.4rem;
            padding-top: 0;
        }

        &__checkout {
            padding: 1.4rem;
            padding-top: 0;
        }
    }
}

@media (min-width:1024px) {
    .ItemDetailWrapper {
        min-height: calc(100vh - 108px - 60px - .4rem - 1rem);
        /* container height= 100vh-navHeight-tabsHeight-margins */
    }

    .ItemDetail {
        margin-top: 1.4rem;

        &__detailsWrapper {
            padding: 2rem;
        }
        
        &__imgSelector{
            margin-bottom: 2.4rem;
        }

        &__info {
            &__main {
                padding: 2rem;
                padding-bottom: 0;
            }
        }

        &__counterWrapper {
            padding: 2rem;
            padding-top: 0;
        }

        &__checkout {
            padding: 2rem;
            padding-top: 0;
        }
    }
}

@media (min-width: 1216px) {
    .ItemDetail {
        flex-flow: row wrap;
        gap: 2rem;

        &__body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            gap: calc(4rem + 2%);
        }

        &__detailsWrapper {
            width: 520px;
            border-radius: .4em;
        }


        &__infoWrapper {
            border-radius: .4em;
            width: 520px;
            font-size: $font-fluid-lg;
        }

        &__back {
            top: -5.2%;
        }

        &__controlsWrapper {
            height: 100%;
            max-height: 500px;
        }

        &__counterWrapper {
            height: unset;
        }

        &__checkout {
            height: unset;
            gap: .2rem;

            &__buttons {
                margin-top: 2rem;
                gap: .8rem;
            }

            h3{
                margin-top: 1rem;
            }

            .CartWidget{
                text-shadow: 2px 2px 0 var(--color-back-dark), 2.4px 2.4px 0 var(--color-one);
            }

            &__continue{
                text-shadow: 2px 2px 0 var(--color-back-dark), 2.4px 2.4px 0 var(--color-one);
            }
        }
    }
}

@media (min-width: 1480px) {
    .ItemDetail {
        &__detailsWrapper {
            width: 600px;

            img {
                max-width: 600px;
            }
        }

        &__infoWrapper {
            width: 600px;
        }
    }
}