@import './variables.scss';

.ItemCount{
    font-family: var(--font-primary);
    font-size: $font-fluid-lg;
    border-radius: .4em;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    gap: 2rem;
    margin-bottom: auto;
    
    &__buttons{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      gap: 2rem;

      &>*{
        background: var(--color-back);
        border-radius: .4rem;
      }

      button{
        line-height: 1.2;
        color: var(--color-three);
        text-align: center;
        text-shadow: 2.4px 2.4px 0 var(--color-back-dark), 3px 3px 0 var(--color-one);
        font-size: $font-fluid-xl;
        padding: .4rem;
        flex: 1;
        transition: 200ms;
        will-change: transform;

        &:hover, &:focus-visible{
          color: var(--color-one);
          background: var(--color-three-dark);
        }

        &:active{
          transform: translate(2px, 2px)
        }
      }

      &__number{
          flex: 1;
          color: var(--color-one);
          padding: .8rem;
          text-align: center;
          font-size: $font-fluid-xxl;
          font-family: var(--font-primary);
          line-height: 1;
          text-shadow: 2.4px 2.4px 0 var(--color-three), 4px 4px 0 var(--color-one);
          background: var(--color-three-dark);
      }
    }

    &__add{
      font-size: $font-fluid-lg;
      font-family: var(--font-primary);
      font-weight: bold;
      line-height: 1.2;
      background-color: var(--color-back-dark);
      color: var(--color-one);
      padding-top: .4rem; 
      padding-bottom: .4rem;
      text-align: center;
      text-shadow: 2px 2px 0 var(--color-back-dark), 2.4px 2.4px 0 var(--color-one);
      outline: 1px dashed var(--color-three-dark);
      border-radius: .4rem;
      padding: .4em;
      margin-top: .8rem;
      transition: 200ms;
      will-change: transform;
      
      &:hover, &:focus-visible{
        background: var(--color-back);
        outline: 1px dashed var(--color-three);
      }

      &:active{
        transform: translate(2px, 2px);
      }
    }

    &__stock{
        position: absolute;
        top: -22%;
        right: 2%;
        font-size: $font-fluid-xs;
        font-family: 'Courier New', Courier, monospace;
    }
}

@media (min-width: 1216px){
  .ItemCount{
    margin-top: 12%;
  }
}
