.ItemListWrapper{
    width: 90%;
    min-height: calc(100vh - 76px - 60px); /* container height= 100vh-navHeight-tabsHeight */
    margin: auto;
    max-width: 1800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    >span{
        transform: (translateY(-50%));
    }
}

.ItemList{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    align-self: start;
    
    &__title{
        align-self: center;
        font-size: clamp(1.8rem, 1.8rem + 1.8vw, 2.8rem);
        font-weight: bold;
        text-shadow: 2px 2px var(--color-three);
        color: var(--color-one);
        border-bottom: 2px dashed var(--color-one);
        margin-bottom: 2rem;
        animation: fadeTranslateIn 200ms ease-in-out forwards;
        word-spacing: .2em;
        letter-spacing: .01em;
    }

    &__content{
        margin: auto;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 1.4rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        animation: fadeTranslateIn 200ms ease-in-out forwards;
    }

    &__noProducts{
        align-self: start;
        font-size: clamp(1.4rem, 1.4rem + 1.4vw, 2.4rem);
        font-weight: bold;
        text-shadow: 2px 2px var(--color-three);
        color: var(--color-one);
        margin-bottom: 2rem;
        animation: fadeTranslateIn 200ms ease-in-out forwards;

        &__link{
            color: var(--color-one-dark);
            margin-left: .8em;

            &:hover, &:focus-visible{
                color: var(--color-one);
            }
        }
    }
}

@media (min-width:1024px){
    .ItemListWrapper{
        min-height: calc(100vh - 108px - 60px); /* container height= 100vh-navHeight-tabsHeight */
    }
    .ItemList{
        margin-top: 1.4rem;

        &__title{
            align-self: start;
        }

        &__noProducts{
            align-self: center;
        }
    }
}