.ItemLink{
    border-radius: 1.6rem;
    transition: box-shadow 100ms;
    box-shadow: 0 0 0 0 var(--color-one);

    &:active{
        box-shadow: 3px 3px 3px 0 var(--color-one);
    }    

    &:hover .Item, &:focus-visible .Item{
        box-shadow: 2px 2px 0 0 var(--color-one);
    }

    &:hover .Item>.Item__details, &:focus-visible .Item>.Item__details{
        color: var(--color-one);
    }

    &:hover .Item>.Item__imgWrapper, &:focus-visible .Item>.Item__imgWrapper{
        background: linear-gradient(45deg, var(--color-one), var(--color-one));
    }
}

.Item{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    font-size: 2rem;
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: 2px 2px 0 0 var(--color-three-dark);
    transition: box-shadow 400ms;

    &__imgWrapper{
        width: 100%;
        transition: background-image 400ms;
        background: linear-gradient(45deg, var(--color-one), var(--color-one-dark));
    }
    
    &__img{
        aspect-ratio: 1;
        width: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    &__content{
        background: none;
        font-size: .4em;
        position: absolute;
        top: 2%;
        left: 0;
        display: flex;
        flex-flow: column wrap;
        color: var(--color-back-dark);
        font-family: 'Courier New', Courier, monospace;
        width: 100%;

        &__title{
           color: var(--color-three);
           text-shadow: 1px 1px var(--color-one-dark);
           margin-top: 6.4rem;
           background: rgba(0, 0, 0, .4);
           width: 100%;
           padding-left: 2%;
           font-size: 1.24em;
           line-height: 1.2;
        }

        &__price{
            font-size: 2.1em;
            font-weight: bold;
            color: var(--color-three);
            text-shadow: 2px 2px var(--color-one-dark), 3px 3px var(--color-back-dark);
            width: fit-content;
            margin-left: 2%;
        }
    }

    &__details{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: center;
        background: var(--color-back-dark);
        padding: .38em;
        color:var(--color-one-dark);
        font-size: 1em;
        color: var(--color-three-dark);
        transition: color 400ms;
    }
}