.ItemList{
    margin: auto;
    width: 100%;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 1.4rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeTranslateIn 400ms ease-in-out forwards;
}



@keyframes fadeTranslateIn{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
