.ItemCount{
    font-family: var(--font-primary);
    font-size: clamp(3.2rem, 2rem + 2vw, 4.8rem);
    border-radius: .4em;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    position: relative;

    &__buttons{
        button{
            font: inherit;
            line-height: 1;
            background-color: var(--color-back-dark);
            color: var(--color-three);
            text-align: center;
            width: 100%;
            text-shadow: 2px 2px 0 var(--color-back-dark), 2.4px 2.4px 0 var(--color-one);
    
          &:hover{
            color: var(--color-one);
          }
        }

        display: flex;

        &__number{
            background-color: var(--color-back-dark);
            color: var(--color-one);
            padding: .8rem;
            text-align: center;
            width: 100%;
            text-shadow: 2px 2px 0 var(--color-three), 3px 3px 0 var(--color-one);
        }
    }

    &__add{
        font-size: .4em;
        border-radius: 0 0 2rem 2rem;
        border-top: 2px dashed var(--color-one);
        line-height: 1;
        background-color: var(--color-back-dark);
        color: var(--color-three);
        padding: 1rem;
        text-align: center;
        text-shadow: 2px 2px 0 var(--color-back-dark), 2.4px 2.4px 0 var(--color-one);
        padding-bottom: 1.12rem;

      &:hover{
        color: var(--color-one);
      }
    }

    &__stock{
        position: absolute;
        top: 0;
        right: 2%;
        font-size: .28em;
    }

}



/* @keyframes fadeTranslateIn{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
 */
