@import './variables.scss';

.LogInButton {
    font-weight: 700;
    font-family: inherit;
    position: relative;
    overflow: hidden;
    margin-bottom: 0 !important; /* override bulma style */
    margin-left: auto;
    margin-right: 1vw;
    transition: 200ms;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    line-height: 1;
    will-change: transform;

    &:active{
        transform: translate(2px, 2px)
    }

    i {
        font-size: 1.12em;
        background: var(--color-one);
        padding: .2em;
        text-shadow: 1px 1px 0 var(--color-three-dark);
        border-radius: 50%;
        line-height: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    span.spanRipple {
        position: absolute;
        background: var(--color-three);
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 50%;
        animation: ripples 1000ms linear infinite;
    }
}

.profilePicWrapper {
    border-radius: 50%;
    position: relative;
}

.profilePic {
    aspect-ratio: 1;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1vw;
    outline: 3px dashed var(--color-one-dark);
    border: none;
    z-index: 1;
    position: relative;

    img {
        width: 100%;
        max-height: none;
        object-fit: cover;
    }

    &:hover,
    &:focus-visible,
    &.is-active {
        outline: 3px dashed var(--color-one);
    }
}

.logOutBtn {
    position: absolute;
    bottom: -4px;
    right: -4px;
    z-index: 1;
    font-size: 1em;
    border-radius: 50%;
    line-height: 1;
    padding: 4px;
    background: var(--color-one-dark);
    will-change: transform;
    transition: transform 200ms;

    &:hover,
    &:focus-visible {
        outline: 2px dashed var(--color-one);
    }

    &:active {
        transform: translate(2px, 2px);
    }
}

.userOptions {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    gap: .1rem;
    background: rgba(255, 255, 255, .4);
    padding: .1rem;
    margin-left: auto;
    margin-right: -2.8rem;
    border-radius: .2em 0 0 .2em;

    a {
        color: var(--color-three);
        font-size: $font-fluid-xxs;
        background: var(--color-one-dark);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: .76em;
        text-align: left;
        padding: .08rem 2.8rem .08rem 2rem;

        &:hover,
        &:focus-visible {
            outline: 2px dashed var(--color-one);
        }

        &:nth-child(1) {
            border-radius: .2em 0 0 0;
        }

        &:nth-child(2) {
            border-radius: 0 0 0 .2em;
        }
    }
}

@media (min-width: 1024px) {
    .LogInButton {
        margin-left: 0;
        margin-right: 0;
    }

    .logOutBtn {
        right: -30px;
        
        &:hover,
        &:focus-visible {
            outline: 2px dashed var(--color-three);
        }
    }

    .profilePic {
        margin-right: 0;

        &:hover,
        &:focus-visible,
        &.is-active {
            outline: 3px dashed var(--color-three);
        }
    }

    .userOptions {
        margin-left: 0;

        a {

            &:hover,
            &:focus-visible {
                outline: 2px dashed var(--color-three);
            }
        }
    }
}