@import './variables.scss';

.LogInButton {
    font-weight: 700;
    font-family: inherit;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    transition: 200ms;

    span {
        position: absolute;
        background: var(--color-three);
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 50%;
        animation: ripples 1000ms linear infinite;
    }
}

.profilePic{
    aspect-ratio: 1;
    width: 50px;

    img{
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1024px){
    .LogInButton{
        margin-left: 0;
        margin-right: 0;
    }
}