@import './variables.scss';

.nav{
    min-height: 76px;
    z-index: 2;
    font-size: 1rem;
    background: var(--color-one) !important;

    &__logo{
        font-weight: 800;
        text-shadow: 2px 2px 0 var(--color-two);
        font-size: $font-xl;

        &:hover, &:focus{
            outline: 2px dashed var(--color-three);
            outline-offset: -2px;
            background: var(--color-one-hover) !important;
        }
    }

    &__home{
        color: var(--color-mobilenavtext);

        &:hover, &:focus{
            outline: 1px dashed var(--color-three);
            
            background: var(--color-one-hover) !important;
        }
    }
}

.navbar-brand{
    min-height: inherit;
    overflow: hidden;
    background: var(--color-one);
}

.navbar-burger{    
    span{
        border-radius: 1em;
        transition: transform 400ms, opacity 400ms;
    }

    &:hover{
        background: none;
    }

    &:focus-visible span{
        background: var(--color-one-dark);
    }
}

.navbar-burger.is-large {
    transform: scale(2.4) translateX(-20%) translateY(12%);
}


@media(max-width: 1023px){
    /* media query mobile nav */
    .nav{
        position: relative;
        &__searchIcon{
            color: var(--color-two);
        }

        &__home{
            color: var(--color-mobilenavtext);

            &:hover, &:focus{
                outline: none;
                background: var(--color-three-accent) !important;
            }
        }
    }
    
    .navbar-menu {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -250%;
       /*  transform: translateY(-100%); */
        transition: top 400ms ease-in-out;
        pointer-events: none;
        padding-top: calc(.4rem + 20%);
        margin-top: -20%;
        z-index: -1;
    }
    
    .navbar-menu.is-active {
        top: 100%;
        pointer-events: auto;
        transition: none;
        animation: bounceInDown 600ms ease-in-out;
      /*   transform: translateY(0); */
    }   
    /* fin media query mobile nav  */

    .searchBar{
        padding: 0;
        border: none;
        width: 100%;
        display: flex;

        &:hover, &:focus, &:focus-within{
            background: none;
        }

        &__wrapper{
            &:hover, &:focus, &:focus-within{
                background: var(--color-three-accent);
            }
        }

        &__input{
            color: var(--color-one-dark);
            width: 100%;

            &::placeholder{
                color: var(--color-one-dark);
            }
        }

        &__icon{
            margin-right: 3.1vw;
            color: var(--color-two);

            &:hover, &:focus{
                color: var(--color-one-dark);
            }
        }
    }

    a.navbar-item:hover, a.navbar-item:focus{
        color: var(--color-one-dark);
    }
}



@media(max-width: 346px){
    .nav__logo{
        font-size: $font-lg;
    }
}

