.nav{
    min-height: 76px;

    &__logo{
        font-weight: 800;
        text-shadow: 2px 2px 0 var(--color-two);
    }

    &__span{
        width: 20px;
        height: 4px;
    }
    z-index: 1;

    span{
        transition: transform 400ms, opacity 400ms;
    }
}

.navbar-brand{
    min-height: inherit;
}

@media(max-width: 349px){
    .nav__logo{
        font-size: 2rem !important /* important para remplazar el size de bulma (que tambien usa important) */;
    }
}

.navbar-brand{
    overflow: hidden;
    background: var(--color-one);
}

.navbar-burger.is-large {
    transform: scale(2.4) translateX(-20%) translateY(12%);
}


/* media query para transition nav bulma */
@media (max-width: 1023px){
    .navbar-menu {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -250%;
        transition: top 400ms ease-in-out;
        pointer-events: none;
        z-index: -1;
    }
    
    .navbar-menu.is-active {
        top: 100%;
        pointer-events: auto;
    }    
}