.tabs{
    max-width: fit-content;
    margin: auto;
    margin-top: calc(76px + .2em);
    padding-top: .4rem;
    height: 60px;

    ul{
        border: none;
        line-height: 1;
    }

    li{
        a{
            font-size: clamp(1.2rem, .8rem + 2.4vw, 1.4rem);
            color: var(--color-three-dark);
            border-bottom: 2px solid var(--color-three-dark);

            &:hover{
                color: var(--color-one);
                border-bottom: 2px solid var(--color-three);
            }
            &:focus-visible{
                color: var(--color-one);
                border-bottom: 2px solid var(--color-three);
                outline: 1px dashed var(--color-three);
                outline-offset: -2px;
            }
        }
    }

    li.is-active{
        a{
            color: var(--color-one);
            border-bottom: 2px solid var(--color-three);
        }
    }

    &:not(:last-child){
        margin-bottom: 1rem;
    }
}

@media (min-width: 1024px){
    .tabs{
        margin-left: auto;
        margin-right: 5%;
        margin-top: calc(108px + .4em);


        li a{
            font-size: 1.61rem;
        }
    }
}