@import './variables.scss';

.ThemeButton {
    font-size: $font-lgg;
    color: var(--color-mobilenavtext);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .2em;
    background-color: transparent;
    margin-bottom: .2em;

    i {
        line-height: 1;
    }

    &:hover,
    &:focus-visible {
        color: var(--color-one);
    }

}


@media (min-width: 1024px) {
    .ThemeButton {
        padding: .3em;
        margin: 0;

        &:hover,
        &:focus-visible {
            color: var(--color-three);
            outline: 1px dashed var(--color-three);
            background-color: var(--color-one-hover);
        }
    }
}