@import './variables';

.DatosWrapper {
    min-height: calc(100vh - 76px - 60px - .2rem);
    /* container height= 100vh-navHeight-tabsHeight-margins */
    width: 100%;
    max-width: 1800px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    >span {
        transform: (translateY(-50%));
    }
}

.Datos {
    align-self: start;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    font-size: $font-fluid-md;
    color: var(--color-one);
    text-shadow: 2px 2px 0 var(--color-three);

    &__back {
        position: absolute;
        left: min(2%, 1rem);
        top: min(-20px, -2%);
        color: var(--color-one-dark);
        text-shadow: 1px 1px 0 var(--color-four);
        font-size: $font-fluid-lg;
        font-weight: bold;

        &:hover {
            color: var(--color-one);
        }
    }

    &__title {
        font-size: $font-fluid-xl;
        border-bottom: 2px dashed var(--color-one);
        width: 100%;
        font-weight: bold;
        margin-top: .8rem;
    }

    &__nouser {
        width: 100%;
        text-align: center;
        text-shadow: none;
        margin-top: 2rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;

        button {
            color: var(--color-four);
            will-change: transform;
            transition: transform 200ms;

            &:hover,
            &:focus-visible {
                border-bottom: 2px dashed var(--color-one);
            }

            &:active {
                transform: translate(2px, 2px);
            }
        }
    }

    &__details {
        margin: auto;
        width: 100%;
        
        form {
            margin: auto;
            margin-top: 1.4rem;
            text-shadow: none;
            color: var(--color-four);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: start;
            gap: 2.8rem;
            width: 100%;
            font-family: 'Courier New', Courier, monospace;
            font-size: $font-fluid-sm;
            background: var(--color-back-dark);
            border-radius: .2em;
            padding: 1.4em .4em;
        }

        &__pWrapper {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            span {
                font-weight: bold;

                input {
                    background: none;
                    outline: none;
                    border: none;
                    color: inherit;
                    box-shadow: 0 2px 0 0 var(--color-one);
                    width: fit-content;
                }

                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }

        p {
            width: 100%;
            margin: auto;
            text-align: left;
        }

        &__btnContainer {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: .8em;
            align-self: center;

            &__btn {
                width: 120px;
                font-weight: 700;
                font-family: inherit;
                position: relative;
                overflow: hidden;
                margin-bottom: 0 !important;
                /* override bulma */
                margin-left: auto;
                margin-right: 1vw;
                transition: 200ms;
                line-height: 1;
                flex: 1;
                will-change: transform;

                &:active {
                    transform: translate(2px, 2px)
                }

                span.spanRipple {
                    position: absolute;
                    background: var(--color-three);
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                    border-radius: 50%;
                    animation: ripples 1000ms linear infinite;
                }
            }
        }
    }
}


@media (min-width: 1024px) {
    .DatosWrapper {
        min-height: calc(100vh - 108px - 60px - .4rem - 1rem);
        /* container height= 100vh-navHeight-tabsHeight-margins */
    }
}

@media (min-width: 1216px) {
    .Datos {
        width: 96%;

        &__details {
            width: 80%;

            &__btnContainer {
                &__btn {
                    width: 140px;
                }
            }
        }
    }
}