.CheckoutWrapper {
  min-height: calc(100vh - 76px - 60px - 0.2rem);
  /* container height= 100vh-navHeight-tabsHeight-margins */
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CheckoutWrapper > span {
  transform: translateY(-50%);
}

.Checkout {
  align-self: start;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  font-size: clamp(1.8rem, 1rem + 1.8vw, 2rem);
  color: var(--color-one);
  text-shadow: 2px 2px 0 var(--color-three);
  -webkit-animation: fadeTranslateIn 400ms forwards;
          animation: fadeTranslateIn 400ms forwards;
  margin-bottom: 8rem;
}
.Checkout h1 {
  font-size: 1.4em;
  border-bottom: 2px dashed var(--color-one);
  width: 100%;
  font-weight: bold;
}
.Checkout__back {
  align-self: start;
  margin-left: min(5%, 1rem);
  margin-top: 0.8rem;
  color: var(--color-one-dark);
  text-shadow: 1px 1px 0 var(--color-three);
  font-size: 1em;
  font-weight: bold;
}
.Checkout__back:hover {
  color: var(--color-one);
}
.Checkout__details {
  text-shadow: 1px 1px 0 var(--color-back-dark);
  font-family: var(--font-primary);
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin-top: 1rem;
}
.Checkout__details h3 {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1em;
  border-bottom: 2px dashed var(--color-one);
  width: 100%;
  padding: 0.4em;
  color: var(--color-one);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.Checkout__details__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  background-color: var(--color-back-dark);
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}
.Checkout__details__list__header {
  font-weight: bold;
}
.Checkout__details__list li {
  padding: 0.2em;
  display: flex;
  flex-flow: row wrap;
  gap: clamp(0.1rem, 0.1rem + 1vw, 2rem);
  justify-content: space-evenly;
  border-bottom: 1px dashed var(--color-three-dark);
  width: 100%;
  font-size: 0.34em;
  position: relative;
}
.Checkout__details__list li:nth-last-child(2) {
  border-bottom: 2px dashed var(--color-one);
}
.Checkout__details__list li:last-child {
  border: none;
  padding: 0.4em;
  font-family: var(--font-primary);
  font-size: 0.8em;
  font-weight: bold;
  color: var(--color-back-dark);
  text-shadow: 2px 2px 0 var(--color-three);
  background: var(--color-one-dark);
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: auto;
}
.Checkout__details__list li span {
  padding: 0.4em;
  color: var(--color-three-accent);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.Checkout__details__list__remove {
  color: var(--color-three-dark);
  filter: drop-shadow(1px 1px 0 var(--color-three-accent));
  position: absolute;
  right: 2%;
  top: 0;
  font-size: 1em;
  padding: 0.1em;
}
.Checkout__details__list__remove:hover, .Checkout__details__list__remove:focus-visible {
  color: var(--color-one);
  filter: drop-shadow(1px 1px 0 var(--color-three));
}
.Checkout__details__resumen {
  background-color: var(--color-back-dark);
  width: 100%;
  color: blue !important;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
}
.Checkout__details__resumen__info {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  padding: 0.4rem;
  padding-top: 0;
}
.Checkout__details__resumen__text {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.88em;
  color: var(--color-three);
  text-align: left;
  width: 100%;
}
.Checkout__details__resumen__buttons {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.72em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
  gap: 1rem;
}
.Checkout__details__resumen__buttons button, .Checkout__details__resumen__buttons a {
  display: flex;
  flex: row wrap;
  justify-content: start;
  align-items: center;
  color: var(--color-one-dark);
  padding: 0.2em;
  border-radius: 0.2em;
  transition: 200ms;
  width: 100%;
  will-change: transform;
}
.Checkout__details__resumen__buttons button i, .Checkout__details__resumen__buttons a i {
  font-size: 1.4em;
}
.Checkout__details__resumen__buttons button:hover, .Checkout__details__resumen__buttons button:focus-visible, .Checkout__details__resumen__buttons a:hover, .Checkout__details__resumen__buttons a:focus-visible {
  color: var(--color-one);
  outline: 1px dashed var(--color-one);
  background: var(--color-back);
}
.Checkout__details__resumen__buttons button:active, .Checkout__details__resumen__buttons a:active {
  transform: translate(2px, 2px);
}
.Checkout__details__resumen__buttons button:last-of-type, .Checkout__details__resumen__buttons a:last-of-type {
  color: var(--color-three-accent);
}
.Checkout__details__resumen__buttons button:last-of-type:hover, .Checkout__details__resumen__buttons button:last-of-type:focus-visible, .Checkout__details__resumen__buttons a:last-of-type:hover, .Checkout__details__resumen__buttons a:last-of-type:focus-visible {
  color: var(--color-three);
  outline: 1px dashed var(--color-three);
  background: var(--color-back);
}

@media (min-width: 320px) {
  .Checkout__details__list li {
    font-size: 0.4em;
  }
  .Checkout__details__list__remove {
    right: 0;
  }
  .Checkout__details__resumen__info {
    padding: 1rem;
    padding-top: 0;
  }
}
@media (min-width: 400px) {
  .Checkout__details h3 {
    font-size: 1.2em;
  }
  .Checkout__details__list li {
    font-size: 0.5em;
  }
  .Checkout__details__list li:last-child {
    font-size: 1em;
  }
  .Checkout__details__resumen__buttons {
    font-size: 0.7 8em;
  }
}
@media (min-width: 500px) {
  .Checkout__details__list li {
    font-size: 0.6em;
    gap: clamp(0.2rem, 0.2rem + 2vw, 4rem);
  }
}
@media (min-width: 620px) {
  .Checkout__details__list li {
    font-size: 0.78em;
  }
}
@media (min-width: 1216px) {
  .Checkout {
    width: 96%;
  }
  .Checkout__details {
    display: flex;
    flex-flow: row wrap;
  }
  .Checkout__details h3 {
    font-size: 1.4em;
  }
  .Checkout__details__list {
    width: 68%;
    border-radius: 0.4em 0.4em 0.8em 0.8em;
  }
  .Checkout__details__list li:last-child {
    border-radius: 0 0 0.4em 0.4em;
    font-size: 1.18em;
  }
  .Checkout__details__list__remove {
    padding: 0.2em;
  }
  .Checkout__details__resumen {
    width: 28%;
    border-radius: 0.4em;
  }
}/*# sourceMappingURL=Checkout.css.map */