/* bulma is-size-7 */
/* bulma is-size-6 */
/* bulma is-size-5 */
/* bulma is-size-4 */
/* bulma is-size-3 */
/* bulma is-size-2 */
/* bulma is-size-1 */
.CheckoutForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.CheckoutForm h4 {
  font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--color-three);
}
.CheckoutForm__fields {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.CheckoutForm fieldset {
  max-width: 94%;
  font-family: "Courier New", Courier, monospace;
  color: var(--color-one);
  text-shadow: 1px 1px 0 var(--color-back);
  font-weight: bold;
  border: 1px dashed var(--color-three-dark);
  border-radius: 0.2em;
  transition: border 400ms;
  text-align: left;
  line-height: 1.2;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.32rem);
  transition: color 400ms, border-color 400ms;
}
.CheckoutForm fieldset:focus, .CheckoutForm fieldset:focus-within, .CheckoutForm fieldset:valid {
  border: 1px dashed var(--color-one);
  color: var(--color-one);
}
.CheckoutForm fieldset legend {
  margin: 0 0 0 0.4em;
  padding: 0 0.1em;
}
.CheckoutForm input {
  width: 100%;
  background: none;
  background-image: linear-gradient(var(--color-one), var(--color-one));
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: bottom left;
  outline: none;
  border: none;
  font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
  transition: background-size 400ms;
  color: var(--color-three);
  padding: 0.1em 0.2em;
  font-weight: normal;
}
.CheckoutForm input:focus {
  background-size: 100% 2px;
}
.CheckoutForm__total {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: clamp(1rem, 1rem + 1.4vw, 2rem);
  color: var(--color-one);
  text-shadow: 1px 1px 0 var(--color-back-dark);
  background: var(--color-back);
  padding: 0.4rem;
  border-radius: 0.2em;
}
.CheckoutForm__send {
  color: var(--color-four);
  text-shadow: 1px 1px 0 var(--color-back-dark);
  font-size: clamp(1rem, 1rem + 1.4vw, 2rem);
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  outline: 2px dashed var(--color-one);
  margin: 0.4rem auto 0.4rem auto;
  transition: color 200ms, text-shadow 200ms, background-color 200ms, outline-color 200ms;
  background: var(--color-back);
  will-change: transform, background-color;
  word-spacing: 0.02em;
  letter-spacing: 0.01em;
}
.CheckoutForm__send:hover, .CheckoutForm__send:focus-visible {
  color: var(--color-back-dark);
  text-shadow: 1px 1px 0 var(--color-three);
  background-color: var(--color-one);
  outline: 2px dashed var(--color-three);
}
.CheckoutForm__send:active {
  transform: translate(2px, 2px);
}
.CheckoutForm__send span {
  -webkit-animation: spanLoad 800ms alternate infinite;
          animation: spanLoad 800ms alternate infinite;
  letter-spacing: 0.02em;
}
.CheckoutForm__send span:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.CheckoutForm__send span:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

@media (min-width: 1216px) {
  .CheckoutForm__send {
    color: var(--color-four);
    text-shadow: 2px 2px 0 var(--color-back-dark);
    outline: 4px dashed var(--color-one);
  }
  .CheckoutForm__send:hover, .CheckoutForm__send:focus-visible {
    color: var(--color-back-dark);
    text-shadow: 2px 2px 0 var(--color-three);
    background-color: var(--color-one);
    outline: 4px dashed var(--color-three);
  }
}/*# sourceMappingURL=CheckoutForm.css.map */