.ItemDetailWrapper {
  min-height: calc(100vh - 76px - 60px - 0.2rem);
  /* container height= 100vh-navHeight-tabsHeight-margins */
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ItemDetailWrapper > span {
  transform: translateY(-50%);
}

.ItemDetail {
  font-size: clamp(1.8rem, 1.8rem + 1.2vw, 2.8rem);
  color: var(--color-three);
  display: flex;
  justify-content: center;
  align-items: start;
  align-self: start;
  line-height: 1.8;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  gap: 2.4rem;
  -webkit-animation: fadeTranslateIn 200ms ease-in-out forwards;
          animation: fadeTranslateIn 200ms ease-in-out forwards;
  padding-bottom: 2.8rem;
  margin-bottom: 2.8rem;
  min-height: 100vh;
  margin-top: 1rem;
}
.ItemDetail__body {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  gap: 2.8rem;
  width: 100%;
  margin-top: 1.2rem;
}
.ItemDetail__imgWrapper {
  background: var(--color-back-dark);
  padding: 1.4rem;
  border-radius: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 1rem + 1.4vw, 4rem);
  outline: 1px dashed var(--color-three-dark);
  max-width: 500px;
  font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
}
.ItemDetail__imgWrapper img {
  border-radius: 0.4em;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 4px dashed var(--color-one);
}
.ItemDetail__pWrapper {
  width: 100%;
  font-size: 1em;
}
.ItemDetail__infoWrapper {
  font-size: clamp(1.8rem, 1rem + 1.8vw, 2rem);
  width: 100%;
  height: 100%;
  padding: 2rem;
  max-width: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  background: var(--color-back-dark);
  outline: 1px dashed var(--color-three-dark);
  min-height: 540px;
  max-height: 540px;
  overflow: hidden;
}
.ItemDetail__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
}
.ItemDetail__info__main {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.ItemDetail__title {
  width: 100%;
  color: var(--color-one);
  text-shadow: 2px 2px 0 var(--color-three);
  line-height: 1.4;
  font-size: 1em;
  margin-bottom: 2rem;
  text-align: left;
  align-self: center;
  font-weight: bold;
  font-family: var(--font-primary);
  padding-bottom: 1.4rem;
  border-bottom: 2px dashed var(--color-one);
}
.ItemDetail__subtitle {
  align-self: start;
  font-family: var(--font-primary);
  font-size: 0.68em;
  text-shadow: 1px 1px 0 var(--color-one);
}
.ItemDetail__back {
  font-size: 0.58em;
  font-family: var(--font-primary);
  text-shadow: 1px 1px 0 var(--color-three);
  font-weight: bold;
  color: var(--color-one-dark);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: min(5%, 1rem);
  top: -2%;
}
.ItemDetail__back:hover {
  color: var(--color-one);
}
.ItemDetail__counterWrapper {
  width: 100%;
  height: 100%;
  align-self: stretch;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  gap: 1rem;
  -webkit-animation: fadeTranslateIn 400ms forwards;
          animation: fadeTranslateIn 400ms forwards;
}
.ItemDetail__counterWrapper__counter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.ItemDetail__counterWrapper__price {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1.2rem;
  text-shadow: 2px 2px var(--color-one-dark);
  line-height: 1.2;
}
.ItemDetail__checkout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
  -webkit-animation: fadeTranslateIn 400ms forwards;
          animation: fadeTranslateIn 400ms forwards;
  font-size: clamp(1.8rem, 1.8rem + 1.2vw, 2.8rem);
}
.ItemDetail__checkout h3 {
  color: var(--color-three);
  text-shadow: 2px 2px 0 var(--color-one);
  line-height: 1.4;
  font-size: 1.4em;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bold;
  font-family: var(--font-primary);
  font-size: 0.8em;
}
.ItemDetail__checkout__buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.6em;
}
.ItemDetail__checkout .CartWidget {
  max-width: 100%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  border-radius: 0.2em;
  color: var(--color-one-dark);
  font-size: 1.2em;
  font-weight: bold;
  font-family: var(--font-primary);
  text-shadow: 1px 1px 0 var(--color-three-dark);
  justify-content: center;
  background: var(--color-three-accent);
  text-align: center;
  border-radius: 0.4rem;
  outline: 2px dashed var(--color-three-dark);
  transition: color 200ms, background-color 200ms, outline 200ms;
}
.ItemDetail__checkout .CartWidget span {
  display: block;
}
.ItemDetail__checkout .CartWidget:hover, .ItemDetail__checkout .CartWidget:focus {
  outline: 2px dashed var(--color-one);
  background: var(--color-three);
  color: var(--color-one);
}
.ItemDetail__checkout .CartWidget i {
  font-size: 1.2em !important;
  /* important to replace bulma style */
}
.ItemDetail__checkout__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0.2em;
  text-align: center;
  border-radius: 0.4rem;
  color: var(--color-one-dark);
  font-size: 1.2em;
  font-weight: bold;
  outline: 2px dashed var(--color-three-dark);
  font-family: var(--font-primary);
  text-shadow: 1px 1px 0 var(--color-three-dark);
  background: var(--color-three-accent);
  transition: color 200ms, background-color 200ms, outline 200ms;
}
.ItemDetail__checkout__continue:hover, .ItemDetail__checkout__continue:focus {
  outline: 2px dashed var(--color-one);
  background: var(--color-three);
  color: var(--color-one);
}

@media (max-width: 320px) {
  .ItemDetail__infoWrapper {
    padding: 1rem;
  }
  .ItemDetail__info {
    width: 100%;
  }
  .ItemDetail__checkout {
    width: 100%;
  }
  .ItemDetail__checkout__buttons {
    width: 100%;
    font-size: 0.5em;
  }
}
@media (min-width: 500px) {
  .ItemDetail__imgWrapper {
    border-radius: 0.4em;
    padding: 2rem;
  }
  .ItemDetail__infoWrapper {
    border-radius: 0.4em;
  }
}
@media (min-width: 1024px) {
  .ItemDetailWrapper {
    min-height: calc(100vh - 108px - 60px - 0.4rem - 1rem);
    /* container height= 100vh-navHeight-tabsHeight-margins */
  }

  .ItemDetail {
    margin-top: 1.4rem;
  }
}
@media (min-width: 1216px) {
  .ItemDetail {
    gap: 2rem;
  }
  .ItemDetail__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: calc(4rem + 2%);
  }
  .ItemDetail__imgWrapper {
    min-width: 520px;
    max-width: 520px;
  }
  .ItemDetail__infoWrapper {
    min-width: 520px;
    max-width: 520px;
    font-size: clamp(1.8rem, 1.8rem + 1.2vw, 2.8rem);
    min-height: 780px;
    max-height: 780px;
  }
  .ItemDetail__back {
    top: -4%;
  }
  .ItemDetail__checkout__buttons {
    margin-top: 8%;
  }
}
@media (min-width: 1480px) {
  .ItemDetail__imgWrapper {
    min-width: 600px;
    max-width: 600px;
  }
  .ItemDetail__infoWrapper {
    min-width: 600px;
    max-width: 600px;
  }
}
@media (min-width: 2048px) {
  .ItemDetail {
    margin-top: 16%;
  }
}/*# sourceMappingURL=ItemDetail.css.map */