.ItemListWrapper {
  width: 90%;
  min-height: calc(100vh - 76px - 20px - 60px - 60px - 1.1rem);
  /* container height= 100vh-navHeight-marqueeHeight-tabsHeight-titleHeight-margins */
  margin: auto;
  max-width: 1800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.ItemListWrapper.paginationLoading {
  cursor: wait;
}
.ItemListWrapper.paginationLoading * {
  cursor: inherit;
}

.ItemList {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  align-self: start;
  will-change: transform;
}
.ItemList__title {
  align-self: start;
  font-size: clamp(1rem, 1rem + 1.4vw, 2rem);
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--color-three);
  color: var(--color-one);
  word-spacing: 0.2em;
  letter-spacing: 0.02em;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 500px;
  height: 60px;
  background: var(--color-back-dark);
  word-wrap: break-word;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  z-index: 1;
  will-change: transform;
}
.ItemList__title div {
  will-change: transform;
}
.ItemList__title select {
  background: none;
  border: none;
  outline: none;
  color: var(--color-one);
  text-shadow: 1px 1px 0 var(--color-three);
  padding: 0;
  padding-right: 0.2em;
  padding-left: 1ch;
  margin: 0;
  line-height: 40px;
  cursor: pointer;
  transition: color 200ms, text-shadow 200ms;
}
.ItemList__title select option {
  width: 100%;
  background: var(--color-back-dark);
  font-size: 0.8em;
}
.ItemList__title select:hover, .ItemList__title select:focus-visible {
  color: var(--color-three);
  text-shadow: 1px 1px 0 var(--color-one);
}
.ItemList__title:focus, .ItemList__title:focus-within {
  outline: 1px dashed var(--color-one);
}
.ItemList__pagination {
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.32rem);
  font-weight: bold;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: -0.6rem;
}
.ItemList__pagination button {
  color: var(--color-one-dark);
  text-shadow: 1px 1px 0 var(--color-three);
  border-radius: 0.2em;
  padding: 0.4em;
  background: var(--color-back-dark);
  transition: transform 200ms, color 200ms;
  flex: 1;
  will-change: transform;
}
.ItemList__pagination button:hover {
  color: var(--color-one);
  outline: 1px dashed var(--color-one);
}
.ItemList__pagination button:focus-visible {
  outline: 1px dashed var(--color-one);
  color: var(--color-one);
}
.ItemList__pagination button:active {
  transform: translate(2px, 2px);
}
.ItemList__pagination button.is-active {
  color: var(--color-one);
  outline: 1px solid var(--color-one);
}
.ItemList__pagination__startend {
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1.2rem);
  line-height: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.4rem;
}
.ItemList__pagination__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.ItemList__pagination__content__total {
  color: var(--color-one);
  font-family: "Courier New", Courier, monospace;
}
.ItemList__pagination__content__controls {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}
.ItemList__pagination__content__controls__buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.4rem;
}
.ItemList__contentWrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.ItemList__sortWrapper {
  position: relative;
  align-self: start;
  z-index: 1;
  border-radius: 0 0.2em 0.2em 0;
  margin-top: 0.4rem;
  text-shadow: 1px 1px 0 var(--color-three);
  color: var(--color-one);
  width: 100%;
}
.ItemList__sort {
  font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
  font-weight: bold;
  color: var(--color-one-dark);
  text-shadow: inherit;
  word-spacing: 0.2em;
  letter-spacing: 0.02em;
  padding: 0.2rem 1.5rem;
  width: 100%;
  border-radius: inherit;
  background: var(--color-back-dark);
  word-wrap: break-word;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: color 200ms, text-shadow 200ms;
  will-change: transform;
}
.ItemList__sort i {
  font-size: 0.8em;
}
.ItemList__sort:hover, .ItemList__sort:focus-visible {
  color: var(--color-one);
  outline: 1px solid var(--color-one);
}
.ItemList__sort.is-active {
  outline: 1px solid var(--color-one);
  color: var(--color-one);
}
.ItemList__sortOptions {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: stretch;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border-radius: 0 0.2em 0.2em 0;
  outline: 1px dashed var(--color-three-dark);
  visibility: hidden;
}
.ItemList__sortOptions button {
  width: 100%;
  padding: 0.2rem 1rem;
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1.32rem);
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--color-three);
  color: var(--color-one);
  word-spacing: 0.2em;
  letter-spacing: 0.02em;
  background: var(--color-back-dark);
  background-size: 200%;
  text-align: left;
  white-space: nowrap;
}
.ItemList__sortOptions button:hover, .ItemList__sortOptions button:focus-visible, .ItemList__sortOptions button.is-active {
  background: var(--color-back);
  text-shadow: 1px 1px 0 var(--color-one);
  color: var(--color-three);
}
.ItemList__sortOptions__lowest {
  border-radius: 0.2em 0.2em 0 0;
}
.ItemList__sortOptions__hot {
  border-radius: 0 0 0.2em 0.2em;
}
.ItemList__sortOptions:hover, .ItemList__sortOptions:focus, .ItemList__sortOptions:focus-within {
  outline: 1px dashed var(--color-one);
}
.ItemList__sortOptions.is-visible {
  visibility: visible;
}
.ItemList__content {
  margin: auto;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 1.4rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-bottom: 1.6rem;
}
.ItemList__noProducts {
  align-self: start;
  font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
  font-weight: bold;
  color: var(--color-three);
  text-shadow: 2px 2px 0 var(--color-three-dark);
  margin-bottom: 2rem;
}
.ItemList__noProducts__link {
  color: var(--color-one-dark);
  margin-left: 0.8em;
  text-shadow: 2px 2px 0 var(--color-three);
}
.ItemList__noProducts__link:hover, .ItemList__noProducts__link:focus-visible {
  color: var(--color-one);
}

@media (min-width: 500px) {
  .ItemList__title {
    border-radius: 0 0.2em 0.2em 0;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .ItemList__sortWrapper {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: -6%;
  }
}
@media (min-width: 1024px) {
  .ItemListWrapper {
    min-height: calc(100vh - 108px - 20px - 60px - 60px - 1.4rem);
    /* container height= 100vh-navHeight-marqueeHeight-tabsHeight-titleHeight-margins */
  }
  .ItemListWrapper > span {
    transform: translateY(-50%);
  }
  .ItemList {
    margin-top: 1.4rem;
  }
  .ItemList__title {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0.2em;
  }
  .ItemList__sortWrapper {
    margin-left: 0;
    border-radius: 0.2em;
  }
  .ItemList__sortOptions {
    border-radius: 0.2em;
  }
  .ItemList__pagination {
    align-self: end;
    margin-right: 0.8rem;
  }
  .ItemList__pagination__startend {
    align-self: end;
  }
  .ItemList__pagination__content {
    flex-flow: row wrap;
    gap: 1.4rem;
  }
  .ItemList__pagination__content__controls {
    gap: 0.6rem;
  }
  .ItemList__noProducts {
    align-self: center;
  }
}
.ItemList__contentB {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}/*# sourceMappingURL=ItemList.css.map */