.nav {
  min-height: 76px;
  z-index: 2;
  font-size: 1rem;
  background: var(--color-one) !important;
}
.nav__logo {
  font-weight: 800;
  text-shadow: 2px 2px 0 var(--color-two);
  font-size: 2.5rem;
}
.nav__logo:hover, .nav__logo:focus {
  outline: 2px dashed var(--color-three);
  outline-offset: -2px;
  background: var(--color-one-hover) !important;
}
.nav__home {
  color: var(--color-mobilenavtext);
  padding: 0.4em;
}
.nav__home:hover, .nav__home:focus {
  color: var(--color-one);
  outline: 1px dashed var(--color-three);
  background: var(--color-one-hover) !important;
}

.navbar-brand {
  min-height: inherit;
  overflow: hidden;
  background: var(--color-one);
}

.navbar-burger span {
  border-radius: 1em;
  transition: transform 400ms, opacity 400ms;
}
.navbar-burger:hover {
  background: none;
}
.navbar-burger:focus-visible span {
  background: var(--color-one-dark);
}

.navbar-burger.is-large {
  transform: scale(2.4) translateX(-20%) translateY(12%);
}

.navbar-end {
  font-size: 1.4rem;
}
.navbar-end .buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1023px) {
  /* media query mobile nav */
  .nav {
    position: relative;
  }
  .nav__searchIcon {
    color: var(--color-two);
  }
  .nav__home {
    color: var(--color-mobilenavtext);
  }
  .nav__home:hover, .nav__home:focus {
    color: var(--color-one) !important;
    outline: none;
    background: var(--color-three-accent) !important;
  }

  .navbar-menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -250%;
    transition: top 400ms ease-in-out;
    pointer-events: none;
    padding-top: calc(0.4rem + 20%);
    margin-top: -20%;
    z-index: -1;
    padding-bottom: 0.8rem;
  }

  .navbar-menu.is-active {
    top: 100%;
    pointer-events: auto;
    transition: none;
    -webkit-animation: bounceInDown 600ms ease-in-out;
            animation: bounceInDown 600ms ease-in-out;
    /*   transform: translateY(0); */
  }

  /* fin media query mobile nav  */
  .searchBar {
    padding: 0;
    border: none;
    width: 100%;
    display: flex;
  }
  .searchBar:hover, .searchBar:focus, .searchBar:focus-within {
    background: none;
  }
  .searchBar__wrapper:hover, .searchBar__wrapper:focus, .searchBar__wrapper:focus-within {
    background: var(--color-three-accent);
  }
  .searchBar__input {
    color: var(--color-one-dark);
    width: 100%;
  }
  .searchBar__input::-moz-placeholder {
    color: var(--color-one-dark);
  }
  .searchBar__input:-ms-input-placeholder {
    color: var(--color-one-dark);
  }
  .searchBar__input::placeholder {
    color: var(--color-one-dark);
  }
  .searchBar__icon {
    margin-right: 3.1vw;
    color: var(--color-two);
  }
  .searchBar__icon:hover, .searchBar__icon:focus {
    color: var(--color-one-dark);
  }

  a.navbar-item:hover,
a.navbar-item:focus {
    color: var(--color-one-dark);
  }
}
@media (max-width: 346px) {
  .nav__logo {
    font-size: 2rem;
  }
}
@media (min-width: 1216px) {
  .navbar-end {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=NavBar.css.map */