.DatosWrapper {
  min-height: calc(100vh - 76px - 20px - 60px - 1.1rem);
  /* container height= 100vh-navHeight-marqueeHeight-tabsHeight-margins */
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.DatosWrapper > span {
  margin-top: 60px;
}

.Datos {
  align-self: start;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
  color: var(--color-one);
  text-shadow: 2px 2px 0 var(--color-three);
  will-change: transform;
}
.Datos__back {
  position: absolute;
  left: min(2%, 1rem);
  top: min(-20px, -2%);
  color: var(--color-one-dark);
  text-shadow: 1px 1px 0 var(--color-four);
  font-size: clamp(1.8rem, 1.8rem + 1.8vw, 2.8rem);
  font-weight: bold;
}
.Datos__back:hover {
  color: var(--color-one);
}
.Datos__title {
  font-size: clamp(2rem, 2rem + 2vw, 3.2rem);
  border-bottom: 2px dashed var(--color-one);
  width: 100%;
  font-weight: bold;
  margin-top: 0.8rem;
}
.Datos__nouser {
  width: 100%;
  text-align: center;
  text-shadow: none;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
}
.Datos__nouser button {
  color: var(--color-four);
  will-change: transform;
  transition: transform 200ms;
}
.Datos__nouser button:hover, .Datos__nouser button:focus-visible {
  border-bottom: 2px dashed var(--color-one);
}
.Datos__nouser button:active {
  transform: translate(2px, 2px);
}
.Datos__details {
  margin: auto;
  width: 100%;
  margin-top: 1.4rem;
}
.Datos__details form {
  margin: auto;
  text-shadow: none;
  color: var(--color-four);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
  background: var(--color-back-dark);
  padding: 1.4em 0.4em;
  will-change: transform;
}
.Datos__details__pWrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: start;
}
.Datos__details__pWrapper img {
  font-size: 0.75rem;
  aspect-ratio: 1;
  width: 96px;
  min-width: 96px;
  max-width: 96px;
  min-height: 96px;
  max-height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.1em;
  margin-top: 1ch;
  margin-right: 1ch;
  outline: 2px solid var(--color-one);
  overflow: hidden;
  background: linear-gradient(45deg, var(--color-back) 50%, var(--color-back-dark) 50%);
}
.Datos__details__pWrapper img.is-edit {
  outline: 2px dashed vars(--color-one);
}
.Datos__details__pWrapper i {
  outline: none;
  border: none;
  color: var(--color-one);
  font-weight: bold;
  border-radius: 2px;
  display: inline;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-size: clamp(1.8rem, 1.8rem + 1.8vw, 2.8rem);
  cursor: pointer;
}
.Datos__details__pWrapper i:focus-visible {
  outline: 2px dashed var(--color-one);
  outline-offset: 6px;
}
.Datos__details__pWrapper input[type=file] {
  display: none;
}
.Datos__details__pWrapper span {
  font-weight: bold;
  margin-left: 2ch;
  margin-right: 2ch;
}
.Datos__details__pWrapper span input {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  border-bottom: 2px dashed var(--color-one);
  margin: auto;
  margin-bottom: -2px;
  width: calc(100% - 4ch);
}
.Datos__details__pWrapper span input::-webkit-outer-spin-button,
.Datos__details__pWrapper span input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.Datos__details__pWrapper span input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
.Datos__details p {
  width: 100%;
  margin: auto;
  text-align: left;
}
.Datos__details__btnContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  align-self: center;
}
.Datos__details__btnContainer__btn {
  width: 120px;
  font-weight: 700;
  font-family: inherit;
  position: relative;
  overflow: hidden;
  margin-bottom: 0 !important;
  /* override bulma */
  margin-left: auto;
  margin-right: 1vw;
  transition: 200ms;
  line-height: 1;
  flex: 1;
  will-change: transform;
}
.Datos__details__btnContainer__btn:active {
  transform: translate(2px, 2px);
}
.Datos__details__btnContainer__btn span.spanRipple {
  position: absolute;
  background: var(--color-three);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripples 1000ms linear infinite;
}

@media (min-width: 1024px) {
  .DatosWrapper {
    min-height: calc(100vh - 108px - 20px - 60px - 1.4rem);
    /* container height= 100vh-navHeight-marqueeHeight-titleHeight-margins */
  }
  .DatosWrapper > span {
    transform: translateY(-50%);
    /* -tabsHeight */
    margin-top: 60px;
  }
}
@media (min-width: 1216px) {
  .Datos {
    width: 96%;
  }
  .Datos__details {
    width: 90%;
  }
  .Datos__details form {
    border-radius: 0.2em;
  }
  .Datos__details__btnContainer__btn {
    width: 140px;
  }
}/*# sourceMappingURL=UserDatos.css.map */