.ComprasWrapper {
  min-height: calc(100vh - 76px - 20px - 60px - 1.1rem);
  /* container height= 100vh-navHeight-marqueeHeight-tabsHeight-margins */
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.ComprasWrapper > span {
  margin-top: 60px;
}

.Compras {
  align-self: start;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
  color: var(--color-one);
  text-shadow: 2px 2px 0 var(--color-three);
  will-change: transform;
}
.Compras__back {
  position: absolute;
  left: min(2%, 1rem);
  top: min(-20px, -2%);
  color: var(--color-one-dark);
  text-shadow: 1px 1px 0 var(--color-four);
  font-size: clamp(1.8rem, 1.8rem + 1.8vw, 2.8rem);
  font-weight: bold;
}
.Compras__back:hover {
  color: var(--color-one);
}
.Compras__title {
  font-size: clamp(2rem, 2rem + 2vw, 3.2rem);
  border-bottom: 2px dashed var(--color-one);
  width: 100%;
  font-weight: bold;
  margin-top: 0.8rem;
}
.Compras__nouser, .Compras__noorder {
  width: 100%;
  text-align: center;
  text-shadow: none;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(1.2rem, 1.2rem + 1.2vw, 2.2rem);
  color: var(--color-four);
}
.Compras__nouser button,
.Compras__nouser a, .Compras__noorder button,
.Compras__noorder a {
  color: var(--color-one);
  will-change: transform;
  transition: transform 200ms;
}
.Compras__nouser button:hover, .Compras__nouser button:focus-visible,
.Compras__nouser a:hover,
.Compras__nouser a:focus-visible, .Compras__noorder button:hover, .Compras__noorder button:focus-visible,
.Compras__noorder a:hover,
.Compras__noorder a:focus-visible {
  border-bottom: 2px dashed var(--color-one);
}
.Compras__nouser button:active,
.Compras__nouser a:active, .Compras__noorder button:active,
.Compras__noorder a:active {
  transform: translate(2px, 2px);
}
.Compras__details {
  margin: auto;
  margin-top: 1.4rem;
  text-shadow: none;
  color: var(--color-four);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background: var(--color-back-dark);
  padding: 0.4em 0;
  will-change: transform;
}
.Compras__details__order {
  width: calc(100% - 4px);
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: clamp(1rem, 1rem + 1.4vw, 2rem);
  color: var(--color-one);
  text-shadow: 1px 1px 0 var(--color-two);
  margin-left: 2px;
  margin-right: 2px;
  background: var(--color-back-dark);
  border-radius: 0.2em;
}
.Compras__details__order:hover, .Compras__details__order[open] {
  outline: 2px dashed var(--color-one);
}
.Compras__details__order summary {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.1em;
  padding: 0.1em;
  color: var(--color-four);
  font-weight: bold;
  font-family: var(--font-primary);
  letter-spacing: 0.04em;
  text-shadow: 1px 1px 0 var(--color-back-dark);
  padding: 0.6rem 1.2rem;
}
.Compras__details__order summary:focus-visible {
  background: var(--color-back);
}
.Compras__details__order p {
  font-size: clamp(1rem, 1rem + 1vw, 1.6rem);
  text-shadow: none;
  color: var(--color-four);
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0;
  border-bottom: 1px dashed var(--color-two);
}
.Compras__details__order p span {
  width: 12ch;
  flex: 1;
}
.Compras__details__order p span:not(:first-of-type) {
  text-align: right;
}
.Compras__details__order p.Compras__details__total {
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: clamp(1.1rem, 1.1rem + 1.1vw, 1.8rem);
  padding: 0.4em;
}
.Compras__details__order p.Compras__details__id {
  color: var(--color-three-dark);
  font-size: 0.68em;
  justify-content: end;
  border: none;
  padding: 0.6rem 1.2rem;
}
.Compras__details__order__items {
  padding: 0.6rem 1.2rem;
}
.Compras__details__order__items__artist {
  color: var(--color-three-dark);
  font-size: 0.88em;
}

@media (min-width: 1024px) {
  .ComprasWrapper {
    min-height: calc(100vh - 108px - 20px - 60px - 1.4rem);
    /* container height= 100vh-navHeight-marqueeHeight-titleHeight-margins */
  }
  .ComprasWrapper > span {
    transform: translateY(-50%);
    /* -tabsHeight */
    margin-top: 60px;
  }
}
@media (min-width: 1216px) {
  .Compras {
    width: 96%;
  }
  .Compras__details {
    width: 80%;
    border-radius: 0.2em;
  }
}/*# sourceMappingURL=UserCompras.css.map */